/* Your app styles here */

.searchbar-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E") !important;
}

.md .searchbar .input-clear-button {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E") !important;
}
.searchbar {
	background: inherit !important;
}

.searchbar input[type="search"]::placeholder {
	color: rgba(255,255,255,.8) !important;
}

.md .searchbar input[type=search], 
.md .searchbar input[type=text] {
	color: white;
}

.md .searchbar input[type=search],
.md .searchbar input[type=text] {
    padding-left: 48px;
}

#categoryListWrapper {
    width: calc(100% - 110px);
    margin-left: 60px;
}
#categoryList li {
	display: none;
}

#categoryList li.show {
	display: list-item;
}

#map { 
	position:absolute; 
	top:56px; 
	bottom:0; 
	width:100%; 
}

#gMap {
	position:absolute; 
	top:56px; 
	bottom:0; 
	left:0; 
	right:0; 
	width:100%; 
	height: calc(100% - 56px);
	border: none;
}

/* ICONS */

[data-keywords]{
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: auto 60%;
}

[data-keywords] a {
    padding-left: 50px !important;
}

[data-keywords*="ferreteria"] {	background-image: url("../img/tools.svg");}
[data-keywords*="cerrajeria"] {	background-image: url("../img/key.svg");}
[data-keywords*="peluqueria"] {	background-image: url("../img/scissor-and-comb-svgrepo-com.svg");}
[data-keywords*="verduleria"] {	background-image: url("../img/melon.svg");}
[data-keywords*="locutorio"] {	background-image: url("../img/telephone.svg");}
[data-keywords*="vineria"] {	background-image: url("../img/wine.svg");}
[data-keywords*="libreria"] {	background-image: url("../img/book1.svg");}
[data-keywords*="papelera"] {	background-image: url("../img/paper.svg");}
[data-keywords*="panaderia"] {	background-image: url("../img/donut.svg");}
[data-keywords*="carniceria"] {	background-image: url("../img/chicken-leg.svg");}
[data-keywords*="pet shop"] {	background-image: url("../img/dog.svg");}
[data-keywords*="heladeria"] {	background-image: url("../img/ice-cream2.svg");}
[data-keywords*="pizzeria"] {	background-image: url("../img/pizza.svg");}
[data-keywords*="zapateria"] {	background-image: url("../img/shoe2.svg");}
[data-keywords*="taller"] {	background-image: url("../img/tools.svg");}
[data-keywords*="computacion"] {	background-image: url("../img/computer.svg");}
[data-keywords*="deportes"] {	background-image: url("../img/football.svg");}
[data-keywords*="confiteria"] {	background-image: url("../img/coffee.svg");}
[data-keywords*="pasteleria"] {	background-image: url("../img/cake.svg");}
[data-keywords*="iluminacion"] {	background-image: url("../img/lightbulb.svg");}
[data-keywords*="farmacia"] {	background-image: url("../img/health.svg");}


/* iframe styling */

#mapDiv div[draggable] + div[style="position: absolute; left: 0px; top: 0px;"]{display: none;}
#mapDiv .profile-photo {display: none;}
#mapDiv + div { display: none; }